@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Lilita+One&family=Oswald:wght@200..700&family=Pacifico&family=Quicksand:wght@300..700&family=Squada+One&family=Ultra&display=swap');
.Home{
    width: 100%;
    margin: auto;
    background-color: #35383e;
    height: 100vh;
    display: flex;
    position: relative;
    .left{
        width: 30%;
        height: 100%;
        border-right: 1px solid rgb(65, 65, 65);
    }
    .right{
        width: 70%;
        height: 100%;
    }
    .container{
        width: 100%;
        height: 92vh;
        overflow-y: scroll;
        scrollbar-width: none;
        color: white;
        .content{
            width: 100%;
            text-decoration: none;
            color: rgb(82, 82, 82);
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 10px;
            height: 8vh;
            font-family: "Quicksand", serif;
            border-bottom: 1px solid rgb(72, 73, 73);
            transition: all 0.3s ease;
            &:hover{
                cursor: pointer;
                background-color: #606060; 
            }
            img{
                margin-left: 2%;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
            }
            .right{
                width: 70%;
                height: 100%;
                display: flex;
                align-items: left;
                justify-content: center;
                flex-direction: column;
                color: rgb(255, 255, 255);
                .count{
                    font-weight: 600;
                    font-size: small;
                    color: #252cff;
                }
                .cfoot{
                    margin-left: 2%;
                }
                .msg{
                    font-size: small;
                    font-weight: 800;
                }
                .smsg{
                    font-size: small;
                    font-weight: 400;
                }
            }
        }
    }
    .chatBtn {
        position: absolute;
        bottom: 5%;
        left: 25%;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        background-color: #3bcbff;
        background-image: linear-gradient(147deg, #5fdfff, #252cff, #5fdfff);
        cursor: pointer;
        padding-top: 3px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
        background-size: 300%;
        background-position: left;
        transition-duration: .5s;
        &:hover {
            background-position: right;
            transition-duration: 1s;
          }
      }
      
}