@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Lilita+One&family=Oswald:wght@200..700&family=Pacifico&family=Squada+One&family=Ultra&display=swap');
.ListPeople{
    width: 100%;
  margin: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1%;
  box-sizing: border-box;
    h1{
        padding-left: 2%;
        color: rgb(174, 173, 173);
        font-family: "Quicksand", serif;
    }
    .container{
        width: 100%;
        height: 92vh;
        overflow-y: scroll;
        scrollbar-width: none;
        .content{
            color: rgb(140, 140, 140);
            text-decoration: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 10px;
            height: 8vh;
            font-family: "Quicksand", serif;
            border: none;
            border-bottom: 1px solid rgb(102, 102, 102);
            background-color: transparent;
            transition: all 0.3s ease;
            &:hover{
                cursor: pointer;
                background-color: #a0a0a099; 
                color: black;
            }
            img{
                margin-left: 2%;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}