@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
.chat-card {
  width: 100%;
  margin: auto;
  height: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chat-header {
    padding: 10px;
    background-color: #35383e;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    .h2 {
      button {
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 10px;
      }
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
        color: #ffffff;
      .back-icon {
        font-size: 20px;
        color: #ffffff;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .chat-body {
    padding: 20px;
    height: 87vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content:baseline; 
  background-color: #191a1a;
  overflow: scroll;
  scrollbar-width: none;
    .messages {
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .message {
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 8px;
      animation: chatAnimation 0.3s ease-in-out;
      animation-fill-mode: both;
      position: relative;
      font-family: "Jura", serif;
      font-weight: 600;
      max-width: 70%; /* Set a max-width to avoid messages stretching too wide */
      width: fit-content; /* Adjust width based on content */
    
      &.incoming {
        background-color: #6f7b9a;
        align-self: flex-start; /* Align to the left */
        p{
          color: white;
        }
        .foot{
          color: #f2f2f2;
        }
      }
    
      &.outgoing {
        background-color: #c6d8fd;
        align-self: flex-end; /* Align to the right */
        text-align: right;
      }
    
      p {
        font-size: 18px;
        color: #333;
        font-weight: 700;
        margin: 0;
      }
      
      .foot {
        font-size: 10px;
        color: rgb(93, 95, 103);
      }
    
      .popover {
        position: absolute;
        background-color: #fff;
        left: 1%;
        bottom: 2%;
        padding: 1%;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
    
        button {
          padding: 2px;
          margin: 5px;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          font-size: 16px;
    
          &:first-child { 
            color: #b50a0a;
          }
    
          &:last-child {
            color: rgb(10, 1, 1);
          }
    
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  

  .chat-footer {
    padding: 10px;
    background-color: #333537;
    display: flex;
    align-items: center;
    height: 8vh;
    input[type="text"] {
      flex-grow: 1;
      padding: 6px 12px;
      height: 60%;
      border: none;
      border-radius: 62px;
      font-size: 16px;
      margin-right: 10px;
      background-color: #cccccc;
      outline: none;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      &:focus{
        border: 2px solid rgb(126, 126, 249);
        background-color: #e3e0e0;
      }
    }

    button {
      padding: 8px 12px;
      border: none;
      background-color: #727272;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      &:hover {
        background-color: #0f4a9d;
      }
    }
  }

  @keyframes chatAnimation {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .message:nth-child(even) {
    animation-delay: 0.2s;
  }

  .message:nth-child(odd) {
    animation-delay: 0.3s;
  }
  
}
