$form-background-color: #d5d9e1;
$primary-color: rgb(57, 88, 181);
$border-color: rgba(105, 105, 105, 0.397);
$accent-color: rgb(56, 90, 194);
$font-size-base: 0.9em;
$font-size-title: 28px;
$font-size-small: 14px;


.NewPassword{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        background-color: $form-background-color;
        padding: 20px;
        border-radius: 20px;
        position: relative;
      }
      
      .title {
        font-size: $font-size-title;
        color: $primary-color;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
      
        &::before,
        &::after {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          border-radius: 50%;
          left: 0px;
          background-color: $primary-color;
        }
      
        &::before {
          width: 18px;
          height: 18px;
        }
      
        &::after {
          width: 18px;
          height: 18px;
          animation: pulse 1s linear infinite;
        }
      }
      
      .message,
      .signin {
        color: rgba(88, 87, 87, 0.822);
        font-size: $font-size-small;
      }
      
      .signin {
        text-align: center;
      
        a {
          color: $primary-color;
          &:hover {
            text-decoration: underline $primary-color;
          }
        }
      }
       .input {
        width: 90%;
        padding: 10px;
        outline: 0;
        border: 1px solid $border-color;
        border-radius: 10px;
      }

      .submit {
        border: none;
        outline: none;
        background-color: $primary-color;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: 0.3s ease;
      
        &:hover {
          background-color: $accent-color;
        }
      }
      
      @keyframes pulse {
        from {
          transform: scale(0.9);
          opacity: 1;
        }
      
        to {
          transform: scale(1.8);
          opacity: 0;
        }
      }
}